services:
  ecommerce.webapi:
    container_name: ecommerce.webapi
    build:
      context: .
      dockerfile: src/Presentation/ECommerce.WebAPI/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Host=ecommerce.db;Database=ecommerce;Username=postgres;Password=postgres
      - ConnectionStrings__Redis=ecommerce.redis:6379
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - Serilog__WriteTo__1__Args__serverUrl=http://ecommerce.seq:5341
      - LoggingOptions__SeqUrl=http://ecommerce.seq:5341
      - DOTNET_RUNNING_IN_CONTAINER=true
      - OpenTelemetry__ServiceName=ECommerce.WebAPI
      - OpenTelemetry__ServiceVersion=1.0.0
      - OpenTelemetry__Jaeger__AgentHost=ecommerce.jaeger
      - OpenTelemetry__Jaeger__AgentPort=6831
      - OpenTelemetry__Jaeger__Endpoint=http://ecommerce.jaeger:14268/api/traces
      - OpenTelemetry__OTLP__Endpoint=http://ecommerce.jaeger:4317
      - Keycloak__auth-server-url=http://keycloak:8080/
    depends_on:
      - ecommerce.db
      - ecommerce.redis
      - ecommerce.seq
      - keycloak
      - ecommerce.jaeger
      - ecommerce.otel-collector
    ports:
      - 4000:8080
    volumes:
      - keys:/root/.aspnet/DataProtection-Keys
    networks:
      - ecommerce-network
    develop:
      watch:
        - action: rebuild
          path: ./src/Presentation/ECommerce.WebAPI/
          target: /app
        - action: rebuild
          path: ./src/Core/
          target: /app
        - action: rebuild
          path: ./src/Application/
          target: /app

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:latest
    command: start-dev
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
    ports:
      - "8088:8080"
    networks:
      - ecommerce-network
    volumes:
      - keycloak_data:/opt/keycloak/data

  ecommerce.client:
    container_name: ecommerce.client
    hostname: ecommerce.client
    build:
      context: ../ecommerce-client
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_APP_URL=http://localhost:3000
      - NEXT_PUBLIC_AUTH_SERVER_URL=http://localhost:8088/
      - NEXT_PUBLIC_OPENIDDICT_CLIENT_ID=nextjs-client
      - KEYCLOAK_CLIENT_SECRET=nextjs-client-secret
      - NEXT_PUBLIC_API_URL=http://localhost:4000
      - AUTH_SECRET=ImlfqyTaDdLdzrqQRLmth4aThtyPcRI8zAQvJjmNtJw=
      - NEXTAUTH_SECRET=ImlfqyTaDdLdzrqQRLmth4aThtyPcRI8zAQvJjmNtJw=
      - NEXTAUTH_URL=http://localhost:3000
      - AUTH_TRUST_HOST=true
      - INTERNAL_API_URL=http://ecommerce.webapi:8080
      - INTERNAL_AUTH_SERVER_URL=http://keycloak:8080/
    depends_on:
      - keycloak
      - ecommerce.webapi
    ports:
      - 3000:3000
    networks:
      - ecommerce-network
    develop:
      watch:
        - action: rebuild
          path: ../ecommerce-client/src/
          target: /app/src
        - action: rebuild
          path: ../ecommerce-client/public/
          target: /app/public

  ecommerce.db:
    container_name: ecommerce.db
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: ecommerce
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - ecommerce-network

  ecommerce.pgadmin:
    container_name: ecommerce.pgadmin
    image: dpage/pgadmin4
    ports:
      - 8082:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_CONFIG_WEBSERVER_MAX_HTTP_HEADERS_SIZE=16384
    depends_on:
      - ecommerce.db
    networks:
      - ecommerce-network
    volumes:
      - pgadmin:/var/lib/pgadmin

  ecommerce.redis:
    container_name: ecommerce.redis
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data
    networks:
      - ecommerce-network

  ecommerce.seq:
    container_name: ecommerce.seq
    image: datalust/seq
    ports:
      - 5341:80
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    volumes:
      - seqdata:/data
    networks:
      - ecommerce-network

  ecommerce.jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: ecommerce.jaeger
    ports:
      - "16686:16686"
      - "14268:14268"
      - "6831:6831/udp"
      - "4317:4317"
      - "4318:4318"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    networks:
      - ecommerce-network

  ecommerce.otel-collector:
    build:
      context: .
      dockerfile: Dockerfile.otel-collector
    container_name: ecommerce.otel-collector
    ports:
      - "4319:4317"
      - "4320:4318"
      - "8888:8888"
      - "8889:8889"
    depends_on:
      - ecommerce.jaeger
    networks:
      - ecommerce-network

volumes:
  pgdata:
  redisdata:
  seqdata:
  keys:
  pgadmin:
  keycloak_data:

networks:
  ecommerce-network:
    driver: bridge
